<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	

	 
	 <!-- 数据库组 -->
     <!-- 配置数据源 (连接池) -->       
     <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		       <property name="driverClassName" value="com.mysql.jdbc.Driver"/>  
               <property name="url" value="jdbc:mysql://localhost:3306/kgc"/>  
               <property name="username" value="root"/>  
     		   <property name="password" value="123456"/>  
      		    <property name="initialSize" value="10"/>  
     		    <property name="maxActive" value="200" />    
     		   <property name="minIdle" value="5" />  
	 </bean>
     <!-- 配置SqlSession工厂 会产生SqlSession -->
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 定义数据源 -->
        <property name="dataSource" ref="dataSource" />
     <!--  <property name="mapperLocations" value="classpath*:com.emp.dao/*.xml"></property>  -->
      <property name="configLocation" value="classpath:mybatis-config.xml"></property>
    </bean>
     <!-- Dao接口的扫描器 -->
     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- session工厂是哪一个 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!-- dao接口都放在哪个包下 -->
        <property name="basePackage" value="com.emp.dao" />
    </bean>
     <!-- 事务管理器 -->
      <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>		
    <!-- 事务注解驱动 -->
    <tx:annotation-driven/>
    
    
    <!-- mvc组 -->
   <!-- 开启注解驱动 -->
	 <context:component-scan base-package="com.emp"></context:component-scan> 
    <!-- 扩充了注解驱动，可以将请求参数绑定到控制器参数 -->
    <mvc:annotation-driven/>
    <!-- 允许访问静态资源 -->
    <mvc:default-servlet-handler/>


    
    <!-- 视图解析器 -->
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/jsp/" />  
        <property name="suffix" value=".jsp" />          
    </bean>  
    
   <!-- 拦截器 -->
   <mvc:interceptors>
      <mvc:interceptor>
         <!-- 拦截哪些路径 
         路径  就是Controller中的RequestMapping
          如 : /emp/conditonList
                  /user/login
         -->
       <mvc:mapping path="/**"/>
         <!-- 放行哪些路径 -->
         <mvc:exclude-mapping path="/user/*"/> 
         <mvc:exclude-mapping path="/emp/conditionList"/>   
         <bean class="com.emp.interceptor.LoginInterceptor"></bean>
      </mvc:interceptor>
   </mvc:interceptors>
          

</beans>  